.layout-content {
  min-height: 100vh;
}

.header-light {
  background: #ffffff;
  color: #000000;
  border-bottom: 1px solid #dadce0;
  padding: 0 2em;
}

.header-dark {
  background: #303030;
  color: #ffffff;
  border-bottom: 1px solid #5f6368;
  padding: 0 2em;
}

.logo-text {
  font-family: "MontserratAlternates-Bold";
  margin-bottom: 0 !important;
}

.header-height {
  height: 64px;
}

.btn-icon span.ant-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.btn-icon span.ant-btn-icon svg {
  height: 100%;
  width: 100%;
}

.hc-vm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: calc(100vh-64px);
}
